<div style="display: flex">
    <div class="box-big">
        <p class="box-header">
            Job Experience
        </p>
        <p class="box-content">

            Meine Softwareentwickler-Karriere begann bereits mit 12 Jahren, als ich meinen ersten Computer baute und
            so meine Leidenschaft für Videospiele entdeckte. Ich entwickelte zunächst kleinere Programme wie Snake
            oder Pong und schließlich mein erstes eigenes Videospiel mit einer selbst entwickelten
            <a href="https://github.com/FerdiStro/Magic-Dungeons">2D-Engine</a>

            <br>

            Nach meinem Realschulabschluss mit Schwerpunkt Mathematik und Physik begann ich 2021 meine Ausbildung
            zum Fachinformatiker für Anwendungsentwicklung bei <a href="https://infront.co">Infront</a>, die ich 2024
            erfolgreich abschloss.
            Seitdem arbeite ich dort als Softwareentwickler.
            <br>
            In dieser Zeit konnte ich umfangreiche Erfahrungen in Microservice-Architektur, Cloud-Infrastruktur
            vor allem Java in der kombination mit Spring und Spring Boot sammeln. Auch im Frontend-Bereich bin ich mit Angular, Svelte und
            privat mit React Native vertraut.
            <br>
            Darüber hinaus bringe ich Praxiserfahrung in CI/CD (Jenkins, Bitbucket Pipelines, GitHub Actions) sowie
            im Umgang mit Kubernetes, Docker und Docker Compose mit. Datenbanken wie PostgreSQL, klassische
            SQL-Datenbanken und Redis gehören ebenso zu meinem Alltag. Tools wie Jira, Confluence und Grafana setze
            ich regelmäßig ein. In der Qualitätssicherung arbeite ich mit JUnit, SonarQube und weiteren gängigen
            Lösungen.
            <br>
            Privat beschäftige ich mich ebenfalls intensiv mit diesen Themen und entwickle Projekte in Bereichen wie
            <a href="https://github.com/FerdiStro/VS">Rust</a>,  <a href="https://github.com/FerdiStro/plant-grower-esp32">ESP32</a>, <a href="https://github.com/FerdiStro/Jfrog-WAR-deploy">Cloud-Technologien</a> und <a href="https://github.com/FerdiStro/Tree.js-Playground">3D-Rendering</a>.


        </p>
    </div>

    <div class="box-small">
        <p class="box-header">
            Skills
        </p>

        <div class="box-content">
            {{#skills}}
                <div>
                    <div class="point">
                        -{{skill_name}}
                    </div>
                    <div class="value">
                        {{&rating}}
                    </div>
                </div>
            {{/skills}}

        </div>


    </div>
</div>
<div style="display: flex">
    <div class="box-small">
        <p class="box-header">
            Speaking-Languages
        </p>
        <div class="box-content">
            {{#languages}}
                <div>
                    <div class="point">
                        -{{skill_name}}
                    </div>
                    <div class="value">
                        {{&rating}}
                    </div>
                </div>
            {{/languages}}
        </div>
    </div>


    <div class="box-big">
        <p class="box-header">
            About Me
        </p>
        <p class="box-content">
            Ich bin 20 Jahre alt und lebe derzeit im wunderschönen Würzburg in Bayern, Deutschland. <br>
            In meiner Freizeit treibe ich verschiedene Sportarten wie Boxen oder Bouldern und engagiere mich
            ehrenamtlich in der Jugendarbeit. Außerdem starte ich regelmäßig Softwareprojekte (<a href="https://github.com/FerdiStro/VS">GitHub</a>:
            https://github.com/FerdiStro) und liebe es, neue Ideen auszuprobieren und weiterzuentwickeln.<br>
            Besonders gern verbinde ich meine Programmierkenntnisse mit meinem DJ-Hobby oder meiner Leidenschaft für
            Videospiele, um in beiden Bereichen creative Lösungen zu entwickeln.

        </p>
    </div>


</div>