<div style="display: flex">
    <div class="box-big">
        <p class="box-header">
            Job Experience
        </p>
        <p class="box-content">
            Meine Laufbahn in der Softwareentwicklung begann im Alter von 12 Jahren, als ich meinen ersten Computer
            baute und meine Leidenschaft für Videospiele entdeckte.<br>
            Anfangs programmierte ich kleine Spiele wie Snake und Pong, später entwickelte ich ein eigenes Videospiel
            mit einer selbst geschriebenen <a href="https://github.com/FerdiStro/Magic-Dungeons">2D-Engine</a>.<br>
            Nach dem Schulabschluss mit Schwerpunkt Mathematik und Physik begann ich 2021 meine Ausbildung zum
            Fachinformatiker für Anwendungsentwicklung bei <a href="https://www.infront.co">Infront</a>, die ich 2024
            erfolgreich abschloss.<br>
            Seitdem arbeite ich dort als Softwareentwickler und sammle praktische Erfahrung mit
            Microservice-Architekturen, Cloud-Infrastrukturen sowie Java mit Spring und Spring Boot.<br>
            Ergänzend setze ich moderne Frontend-Technologien wie Angular, Svelte und React Native ein.<br>
            CI/CD (Jenkins, Bitbucket Pipelines, GitHub Actions), Docker, Kubernetes und Datenbanken wie PostgreSQL und
            Redis gehören zu meinem Arbeitsalltag.<br>
            Ich bin mit Tools wie Jira, Confluence, Grafana sowie mit Qualitätssicherung via JUnit und SonarQube
            vertraut.<br>
            In meiner Freizeit beschäftige ich mich mit Projekten rund um <a
                href="https://github.com/FerdiStro/VS">Rust</a>, <a
                href="https://github.com/FerdiStro/plant-grower-esp32">ESP32</a>, <a
                href="https://github.com/FerdiStro/Jfrog-WAR-deploy">Cloud-Deployment</a> und <a
                href="https://github.com/FerdiStro/Tree.js-Playground">3D-Rendering</a>.<br>

        </p>
    </div>

    <div class="box-small">
        <p class="box-header">
            Skills
        </p>

        <div class="box-content">
            {{#skills}}
                <div>
                    <div class="point">
                        -{{skill_name}}
                    </div>
                    <div class="value">
                        {{&rating}}
                    </div>
                </div>
            {{/skills}}

        </div>


    </div>
</div>
<div style="display: flex">
    <div class="box-small">
        <p class="box-header">
            Languages
        </p>
        <div class="box-content">
            {{#languages}}
                <div>
                    <div class="point">
                        -{{skill_name}}
                    </div>
                    <div class="value">
                        {{&rating}}
                    </div>
                </div>
            {{/languages}}
        </div>
    </div>


    <div class="box-big">
        <p class="box-header">
            About Me
        </p>
        <p class="box-content">
            Ich bin 20 Jahre alt und lebe in Würzburg, Bayern.<br>
            In meiner Freizeit treibe ich gerne Sport (Boxen, Bouldern), engagiere mich in der Jugendarbeit und starte
            regelmäßig eigene Softwareprojekte (<a href="https://github.com/FerdiStro">GitHub</a>).<br>
            Besonders gern kombiniere ich mein technisches Know-how mit meinem DJ-Hobby und meiner Begeisterung für
            Videospiele, um kreative Ideen umzusetzen.<br>
        </p>
    </div>


</div>