<style>
    body {
        margin: 0;
        transform: scale(2.6);
        transform-origin: top left;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    #header {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .contact-data {
        width: 150px;
        position: relative;
        font-size: 10px;
        top: 25px;
        margin-left: 12px;

    }


    #name {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }


    #footer {
        position: fixed;
        height: 60px;
        top: 840px;
        display: flex;
    }

    .contact-data {
        width: 150px;
        position: relative;
        font-size: 10px;
        top: 25px;
        margin-left: 12px;
    }

    .up {
        position: relative;
        width: 0;
        height: 0;
        border-style: inset;
        border-width: 0 200px 100px 200px;
        border-color: transparent transparent {{color}} transparent;
        transform: rotate(180deg);
        margin-left: -62px;
    }

    .up img {
        transform: rotate(180deg);
        width: 70px;
        height: 70px;
        border-radius: 130px;
        position: relative;
        top: 18px;
        left: -35px;
    }

    .down {
        width: 0;
        height: 0;
        border-style: inset;
        border-width: 0 100px 60px 100px;
        border-color: transparent transparent #007bff transparent;
        float: left;
        position: relative;
        margin-left: 38px;
    }

    .down p {
        position: relative;
        top: 20px;
        left: -49px;
        font-size: 9px;
    }

    #content {
        padding-left: 20px;
        padding-top: 10px;
    }

    .rounded-connection {
        margin-bottom: 5px;
    }

    .rounded-circle-fill {
        display: block;
        margin-top: 5px;
        width: 5px;
        height: 5px;
        background-color: #007bff;
        border-radius: 50%;
        margin-left: 1px;
    }


    .home-location {
        overflow: hidden;
        display: inline-block;
        width: 450px;
        height: 60px;
        margin-bottom: 5px;
        margin-top: 5px;
    }


    .Content-Front {
        padding: 10px 7px 5px 5px;
        display: inline-block;
        background: #007bff;
        width: 90px;
        height: 100%;
    }

    .Location {
        display: inline-block;
        font-size: 6px;

    }

    .Content-Back {

        display: inline-block;
        text-align: center;
        width: 300px;
        height: 100%;

        background-color: #007BFF2C;

    }


    .Name {
        margin-top: 2px;
        font-size: 10px;
    }

    .Date {
        font-size: 7px;
    }

    .Description {
        font-size: 6px;

    }


</style>