</head>
<body>
<div style="width: 600px; height: 850px;  ">
    <div id="header">
        {{first_name}} {{last_name}} <br>
        {{email_address}}<br>
        {{phone_number}}<br>
        <a href='{{website}}'>Portfolio</a><br>
    </div>
    <div id="body">
        <br>
        <br>
        <br>

        {{#de}}
            <b>Bewerbung als {{job}}</b>
        {{/de}}
        {{#en}}
            <b>Application as {{job}}</b>
        {{/en}}
        <br>
        <br>

        <div id="content">
            {{{cover_letter}}}

            <br><br>

            {{#de}}
                Mit freundlichen Grüßen
            {{/de}}
            {{#en}}
                Best regards,
            {{/en}}

            <br><br><br>

            {{first_name}} {{last_name}}
        </div>

    </div>