<div style="display: flex">
    <div class="box-big">
        <p class="box-header">
            Job Experience
        </p>
        <p class="box-content">
            {{{job_experience}}}
        </p>
    </div>

    <div class="box-small">
        <p class="box-header">
            Skills
        </p>

        <div class="box-content">
            {{#skills}}
                <div>
                    <div class="point">
                        -{{skill_name}}
                    </div>
                    <div class="value">
                        {{&rating}}
                    </div>
                </div>
            {{/skills}}

        </div>


    </div>
</div>
<div style="display: flex">
    <div class="box-small">
        <p class="box-header">
            Languages
        </p>
        <div class="box-content">
            {{#languages}}
                <div>
                    <div class="point">
                        -{{skill_name}}
                    </div>
                    <div class="value">
                        {{&rating}}
                    </div>
                </div>
            {{/languages}}
        </div>
    </div>


    <div class="box-big">
        <p class="box-header">
            About Me
        </p>
        <p class="box-content">
            {{{about_me}}}
        </p>
    </div>


</div>