</head>
<body>
<div style="width: 600px; height: 850px;  ">
    <div id="header">
        {{first_name}} {{last_name}} <br>
        {{phone_number}}<br>
        {{email_address}}<br>
    </div>
    <div id="body">
        <br>
        <br>
        <br>
        <b>Bewerbung als {{job}}</b>
        <br>
        <br>

        <div id="content">
            {{{cover_letter}}}

            <br><br>
            Mit freundlichen Grüßen <br><br><br>
            {{first_name}} {{last_name}}
        </div>

    </div>