    <div id="footer">
        <div class="contact-data">
            {{first_name}} {{last_name}}
        </div>
        <div class="down">
            <p>{{email_address}}</p>
        </div>
        <div class="contact-data" style="left: 35px" >
            github.com/FerdiStro/VC
        </div>
    </div>