        <div style="display: flex">
            <div class="box-big">
                <p class="box-header">
                    Job Experience
                </p>
                <p class="box-content">
                    I have been developing video games since I was 12 years old, leading me to pursue a career as a software developer. <br>
                    I started my apprenticeship at Infront-fiance on September 1st 2021 and will probably finish it by passing the final exam at the beginning of June 2024. <br>
                    <br>
                    During this time, I have acquired extensive knowledge of microservices architecture and the associated cloud infrastructure. <br>
                    Over the years, I have significantly expanded my Java expertise through both personal and professional experiences. I handle Spring Boot applications on a daily basis, gaining substantial practical experience in this area. <br>
                    <br>
                    Furthermore, I am familiar with frontend frameworks such as Angular and React Native through private and company projects. In 2022, as part of my training, I successfully completed a one-week course in Angular for frontend development. <br>
                    <br>
                    In vocational school and personal use, I have accumulated significant experience with microprocessors and their programming. Prior to my training, I successfully completed my secondary school education in Mathematics and Physics in 2021. <br>
                </p>
            </div>

            <div class="box-small">
                <p class="box-header">
                    Skills
                </p>

                <div class="box-content">
                    <div>
                        <div class="point">
                            -Java
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Spring
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Html/Css
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Linux
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Docker
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Gradle
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Angular
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Java-Script
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Type-Script
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -React-Native
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Kubernetes
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Python/Rust/C++
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>