        <div style="display: flex">
            <div class="box-small">
                <p class="box-header">
                    Speaking-Languages
                </p>

                <div class="box-content">
                    <div>
                        <div class="point">
                            -German
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -English
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                    <div>
                        <div class="point">
                            -Spanish
                        </div>
                        <div class="value">
                            <div class="rounded-circle-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div><div class="rounded-circle-non-fill"> </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="box-big">
                <p class="box-header">
                    About Me
                </p>
                <p class="box-content">
                    I'm Ferdi, 18 years old, currently residing in the beautiful city of Würzburg. <br>
                    In my free time, I love playing handball and engaging in various other sports.<br><br>

                    Driven by a passion for software development, I am actively involved in numerous personal projects, which has granted me a solid understanding of the field. <br>
                    As a programmer, I approach tasks with structured and solution-oriented thinking, while also placing a strong emphasis on teamwork.
                </p>
            </div>


        </div>