    <div id="header">
        <div class="contact-data">
            {{phone_number}}
            {{email_address}}
        </div>
        <div class="up">
            <img src="http://server:8000/assets/Profil-Bild.png" alt="Profil-Bild">
        </div>
        <div class="arrow-down">
            <div id="picture">
            </div>
        </div>
    </div>